# Importing all dependencies

In [2]:
import chardet
import pandas as pd
import numpy as np
import csv
from forex_python.converter import CurrencyRates

# Importing and connecting Arkouda

In [3]:
import arkouda as ak

    _         _                   _
   / \   _ __| | _____  _   _  __| | __ _
  / _ \ | '__| |/ / _ \| | | |/ _` |/ _` |
 / ___ \| |  |   < (_) | |_| | (_| | (_| |
/_/   \_\_|  |_|\_\___/ \__,_|\__,_|\__,_|


Client Version: v2021.10.07+2.g1fd7670.dirty

In [4]:
ak.connect(connect_url='tcp://MacBook-Pro-7.local:5555 ') #connecting to arkouda server

/Users/narenkhatwani/Documents/GitHub/arkouda/arkouda/client.py:146: RuntimeWarning: Version mismatch between client (v2021.10.07+2.g1fd7670.dirty) and server (v2021.08.20+18.g7a657ad); this may cause some commands to fail or behave incorrectly! Updating arkouda is strongly recommended.
  warnings.warn(('Version mismatch between client ({}) and server ({}); ' +
connected to arkouda server tcp://*:5555

# 1. Read the Data

In [5]:
#Printing the first few values from the DataSet
!head /Users/narenkhatwani/Desktop/Resources/CSV_files/wfp_market_food_prices.csv

adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,1,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,2,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,3,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,4,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,5,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,6,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,7,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,8,2014,50.0,WFP
1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread,87,AFN,15,Retail,5,KG,9,2014,50.0,WFP

In [6]:
#Checking the encoding of the csv file, resolved the partial encoding error
with open("/Users/narenkhatwani/Desktop/Resources/CSV_files/wfp_market_food_prices.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

## Column Name Descriptions
1. adm0_id: country id
2. adm0_name: country name
3. adm1_id: locality id
4. adm1_name: locality name
5. mkt_id: market id
6. mkt_name: market name
7. cm_id: commodity purchase id
8. cm_name: commodity purchased
9. cur_id: currency id
10. cur_name: name of currency
11. pt_id: market type id
12. pt_name: market type (Retail/Wholesale/Producer/Farm Gate)
13. um_id: measurement id
14. um_name: unit of goods measurement
15. mp_month: month recorded
16. mpyear: year recorded *mpprice: price paid
17. mp_commoditysource: Source supplying price information

In [7]:
#Reading the csv file and creating a dataframe
df=pd.read_csv("/Users/narenkhatwani/Desktop/Resources/CSV_files/utf8/wfpvam_foodprices_utf8.csv")

#displaying the top 5 rows for testing
df.head(5)

/Users/narenkhatwani/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

#### In order to read the csv stating a specific encoding we can use the encoding parameter

In [8]:
#df=pd.read_csv("/Users/narenkhatwani/Documents/GitHub/arkouda/Notebooks/Resources/wfp_market_food_prices_utf8.csv,encoding='ascii')

# 2. Cleaning the Data

## 2.1 Convert the csv to hdf file using to_hdf method of Python (not recommended)

In [9]:
df2=pd.read_csv("/Users/narenkhatwani/Desktop/Resources/CSV_files/utf8/wfpvam_foodprices_utf8.csv")

df2.to_hdf("/Users/narenkhatwani/Desktop/Resources/CSV_files/to_hdf/Food_prices_hdf5.h5", 'data', mode='w', format='table')

/Users/narenkhatwani/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
print(pd.read_hdf('/Users/narenkhatwani/Desktop/Resources/CSV_files/to_hdf/Food_prices_hdf5.h5', 'data').head(5))

   adm0_id    adm0_name  adm1_id   adm1_name  mkt_id  mkt_name  cm_id  \
0        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
1        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
2        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
3        1  Afghanistan      272  Badakhshan     266  Fayzabad     55
4        1  Afghanistan      272  Badakhshan     266  Fayzabad     55

          cm_name  cur_id cur_name  pt_id pt_name  um_id um_name  mp_month  \
0  Bread - Retail       0      AFN     15  Retail      5      KG         1
1  Bread - Retail       0      AFN     15  Retail      5      KG         2
2  Bread - Retail       0      AFN     15  Retail      5      KG         3
3  Bread - Retail       0      AFN     15  Retail      5      KG         4
4  Bread - Retail       0      AFN     15  Retail      5      KG         5

   mp_year  mp_price  mp_commoditysource
0     2014      50.0                 NaN
1     2014      50.0                 NaN
2     2014      50.0                 NaN
3     2014      50.0                 NaN
4     2014      50.0                 NaN

## 2.2 Conversion to .hdf5 using Pandas

In [11]:
pdgreen = pd.read_csv('/Users/narenkhatwani/Desktop/Resources/CSV_files/utf8/wfpvam_foodprices_utf8.csv')
# transfer columns of DataFrame to arkouda
def ak_create_akdict_from_df(df):
    akdict = {}
    for cname in df.keys():
        if df[cname].dtype.name == 'object':
            akdict[cname] = ak.from_series(df[cname],dtype=np.str)
        else:
            akdict[cname] = ak.from_series(df[cname])

    return akdict

/Users/narenkhatwani/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
#Passing the dataframe through the converter function to procure hdf file
green_from_pandas = ak_create_akdict_from_df(pdgreen)

In [13]:
print(green_from_pandas)

{'adm0_id': array([1 1 1 ... 152 152 152]), 'adm0_name': array(['Afghanistan', 'Afghanistan', 'Afghanistan', ... , 'Malawi', 'Malawi', 'Malawi']), 'adm1_id': array([272 272 272 ... 1890 1890 1890]), 'adm1_name': array(['Badakhshan', 'Badakhshan', 'Badakhshan', ... , 'Southern Region', 'Southern Region', 'Southern Region']), 'mkt_id': array([266 266 266 ... 823 823 823]), 'mkt_name': array(['Fayzabad', 'Fayzabad', 'Fayzabad', ... , 'Thondwe', 'Thondwe', 'Thondwe']), 'cm_id': array([55 55 55 ... 51 51 51]), 'cm_name': array(['Bread - Retail', 'Bread - Retail', 'Bread - Retail', ... , 'Maize - Retail', 'Maize - Retail', 'Maize - Retail']), 'cur_id': array([0 0 0 ... 0 0 0]), 'cur_name': array(['AFN', 'AFN', 'AFN', ... , 'MWK', 'MWK', 'MWK']), 'pt_id': array([15 15 15 ... 15 15 15]), 'pt_name': array(['Retail', 'Retail', 'Retail', ... , 'Retail', 'Retail', 'Retail']), 'um_id': array([5 5 5 ... 5 5 5]), 'um_name': array(['KG', 'KG', 'KG', ... , 'KG', 'KG', 'KG']), 'mp_month': array([1 2 3 ... 12 1 7]), 'mp_year': array([2014 2014 2014 ... 2014 2015 2015]), 'mp_price': array([50 50 50 ... 74.329999999999998 81.349999999999994 111.48999999999999]), 'mp_commoditysource': array([nan nan nan ... nan nan nan])}

In [14]:
data_pandas_hdf_convert= green_from_pandas

In [15]:
data_pandas_hdf_convert['adm0_id']

array([1 1 1 ... 152 152 152])

## 2.3 Conversion to .hdf5 using Arkouda

### Handling Currency Conversion

In [16]:
c = CurrencyRates()

In [17]:
a_dict=c.get_rates('USD')

In [18]:
a_dict.update(USD=1)
a_dict.update(AFN=91.30)

a_dict

{'EUR': 0.8637816360024186,
 'JPY': 113.0690161527166,
 'BGN': 1.6893841236935303,
 'CZK': 21.764705882352942,
 'DKK': 6.424548674095189,
 'GBP': 0.7374967608188651,
 'HUF': 311.8165327805131,
 'PLN': 3.967003541504708,
 'RON': 4.273646022285567,
 'SEK': 8.551006305605943,
 'CHF': 0.9149175088537618,
 'ISK': 129.91275805476377,
 'NOK': 8.512999913621837,
 'HRK': 6.494774121102186,
 'RUB': 70.9292562840114,
 'TRY': 9.726613112205236,
 'AUD': 1.3511272350349832,
 'BRL': 5.514986611384642,
 'CAD': 1.2435864213526822,
 'CNY': 6.391033946618295,
 'HKD': 7.790101062451412,
 'IDR': 14252.621577265267,
 'INR': 74.10469033428349,
 'KRW': 1176.8765656042153,
 'MXN': 20.32780513086292,
 'MYR': 4.149520601192019,
 'NZD': 1.3986352250151162,
 'PHP': 50.082059255420226,
 'SGD': 1.3475857303273733,
 'THB': 32.764965016843746,
 'ZAR': 15.026690852552475,
 'USD': 1,
 'AFN': 91.3}

In [19]:
(pd.DataFrame.from_dict(data=a_dict, orient='index').to_csv('/Users/narenkhatwani/Desktop/Resources/CSV_files/currency_rates/dict_file.csv', header=True))


header = ["cur_name", "conversion_rate"]

with open('/Users/narenkhatwani/Desktop/Resources/CSV_files/currency_rates/dict_file.csv', 'r') as fp:
    reader = csv.DictReader(fp, fieldnames=header)

    # use newline='' to avoid adding new CR at end of line
    with open('/Users/narenkhatwani/Desktop/Resources/CSV_files/currency_rates/clean_rates.csv', 'w', newline='') as fh: 
        writer = csv.DictWriter(fh, fieldnames=reader.fieldnames)
        writer.writeheader()
        header_mapping = next(reader)
        writer.writerows(reader)#working

In [20]:
data1 = pd.read_csv('/Users/narenkhatwani/Desktop/Resources/CSV_files/utf8/wfpvam_foodprices_utf8.csv') 

data2 = pd.read_csv('/Users/narenkhatwani/Desktop/Resources/CSV_files/currency_rates/clean_rates.csv') 

# using merge function by setting how='left' 

output2 = pd.merge(data1, data2,on='cur_name',how='left') 

# displaying result

In [21]:
output2.head(5)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource,conversion_rate
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,1,2014,50.0,NaN,91.3
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,2,2014,50.0,NaN,91.3
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,3,2014,50.0,NaN,91.3
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,4,2014,50.0,NaN,91.3
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,5,2014,50.0,NaN,91.3

In [22]:
output3 = output2[output2['conversion_rate'].notna()]

In [23]:
output3.head(5)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource,conversion_rate
0,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,1,2014,50.0,NaN,91.3
1,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,2,2014,50.0,NaN,91.3
2,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,3,2014,50.0,NaN,91.3
3,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,4,2014,50.0,NaN,91.3
4,1,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0,AFN,15,Retail,5,KG,5,2014,50.0,NaN,91.3

In [24]:
output3.to_csv('/Users/narenkhatwani/Desktop/Resources/Final_csv_cleaned/global_food_clean.csv', index=False)

In [25]:
!python3 /Users/narenkhatwani/Documents/GitHub/arkouda/converter/csv2hdf.py \
--formats-file=/Users/narenkhatwani/Desktop/Resources/formatter_file/formatter_file.py\
--format=yellow \
--outdir=/Users/narenkhatwani/Desktop/Resources/Csv_final_pruned_merged\
/Users/narenkhatwani/Desktop/Resources/Final_csv_cleaned/global_food_clean.csv

Ignoring column adm0_name because dtype "object" has no HDF5 equivalent.
Ignoring column adm1_name because dtype "object" has no HDF5 equivalent.
Ignoring column mkt_name because dtype "object" has no HDF5 equivalent.
Ignoring column cm_name because dtype "object" has no HDF5 equivalent.
Ignoring column cur_name because dtype "object" has no HDF5 equivalent.
Ignoring column pt_name because dtype "object" has no HDF5 equivalent.
Ignoring column um_name because dtype "object" has no HDF5 equivalent.
Columns to be extracted:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   adm0_id             1000 non-null   int64
 1   adm1_id             1000 non-null   int64
 2   mkt_id              1000 non-null   int64
 3   cm_id               1000 non-null   int64
 4   cur_id              1000 non-null   int64
 5   pt_id               1000 non-null   int64
 6   um_id               1000 non-null   int64
 7   mp_month            1000 non-null   int64
 8   mp_year             1000 non-null   int64
 9   mp_price            1000 non-null   float64
 10  mp_commoditysource  0 non-null      float64
 11  conversion_rate     1000 non-null   float64
dtypes: float64(3), int64(9)
memory usage: 93.9 KB
None
100%|█████████████████████████████████████████████| 1/1 [00:00<00:00,  2.33it/s]

## 2.4 Countries IDs and mapping Data for later use

In [26]:
countries_df=pd.read_csv("/Users/narenkhatwani/Desktop/Resources/CSV_files/utf8/wfpvam_foodprices_utf8.csv")

market_names_dictionary=pd.Series(countries_df.adm0_name.values,index=countries_df.adm0_id).to_dict()

print(market_names_dictionary)

/Users/narenkhatwani/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

{1: 'Afghanistan', 4: 'Algeria', 8: 'Angola', 12: 'Argentina', 13: 'Armenia', 19: 'Azerbaijan', 23: 'Bangladesh', 115: 'Bassas da India', 26: 'Belarus', 29: 'Benin', 31: 'Bhutan', 33: 'Bolivia', 42: 'Burkina Faso', 43: 'Burundi', 44: 'Cambodia', 45: 'Cameroon', 47: 'Cape Verde', 49: 'Central African Republic', 50: 'Chad', 52: 'China', 57: 'Colombia', 59: 'Congo', 61: 'Costa Rica', 66: "Cote d'Ivoire", 68: 'Democratic Republic of the Congo', 70: 'Djibouti', 72: 'Dominican Republic', 73: 'Ecuador', 40765: 'Egypt', 75: 'El Salvador', 77: 'Eritrea', 79: 'Ethiopia', 89: 'Gabon', 90: 'Gambia', 92: 'Georgia', 94: 'Ghana', 103: 'Guatemala', 106: 'Guinea', 105: 'Guinea-Bissau', 108: 'Haiti', 111: 'Honduras', 116: 'Indonesia', 117: 'Iran  (Islamic Republic of)', 118: 'Iraq', 126: 'Japan', 130: 'Jordan', 132: 'Kazakhstan', 133: 'Kenya', 138: 'Kyrgyzstan', 139: "Lao People's Democratic Republic", 141: 'Lebanon', 142: 'Lesotho', 144: 'Liberia', 145: 'Libya', 150: 'Madagascar', 152: 'Malawi'}

In [27]:
#creating a dataframe
df_country_ids = pd.DataFrame()
#giving column names in the dataframe to the dictionary key-values
df_country_ids['adm0_id'] = market_names_dictionary.keys()
df_country_ids['adm0_name'] = market_names_dictionary.values()

In [28]:
df_country_ids.head(10)

   adm0_id        adm0_name
0        1      Afghanistan
1        4          Algeria
2        8           Angola
3       12        Argentina
4       13          Armenia
5       19       Azerbaijan
6       23       Bangladesh
7      115  Bassas da India
8       26          Belarus
9       29            Benin

In [57]:
df_country_ids_sorted=df_country_ids.sort_values(["adm0_id", "adm0_name"], ascending=True)
df_country_ids_sorted.head(5)

   adm0_id    adm0_name
0        1  Afghanistan
1        4      Algeria
2        8       Angola
3       12    Argentina
4       13      Armenia

# Analysis using Arkouda

In [29]:
#reading the hdf5 file
green_from_HDF5 = ak.read_all('/Users/narenkhatwani/Desktop/Resources/Csv_final_pruned_merged/global_food_clean.hdf')

In [30]:
#reading all the columns names and displaying them
ak.get_datasets('/Users/narenkhatwani/Desktop/Resources/Csv_final_pruned_merged/global_food_clean.hdf')

['adm0_id',
 'adm1_id',
 'cm_id',
 'conversion_rate',
 'cur_id',
 'mkt_id',
 'mp_commoditysource',
 'mp_month',
 'mp_price',
 'mp_year',
 'pt_id',
 'um_id']

In [31]:
#data becomes the dataframe
data=green_from_HDF5

In [32]:
#printing a pdarray
data['adm0_id']

array([1 1 1 ... 126 126 126])

In [33]:
data['mp_price']

array([50 50 50 ... 200 216 200])

In [34]:
#resultant currency conversion
data['currency_product']=data['mp_price']/data['conversion_rate']

In [35]:
data['currency_product']

array([0.547645125958379 0.547645125958379 0.547645125958379 ... 1.7688311688311686 1.9103376623376622 1.7688311688311686])

### Finding items worth more than 10000 USD in Afghantistan

In [42]:
exorbitant = ((data['currency_product'] > 10000) & (data['adm0_id'] == 1) )
exdf = pd.DataFrame({k: v[exorbitant].to_ndarray() for k, v in data.items()})

In [62]:
exdf.head(5)

,adm0_id,adm1_id,cm_id,conversion_rate,cur_id,mkt_id,mp_commoditysource,mp_month,mp_price,mp_year,pt_id,um_id,currency_product
0,1,272,275,91.3,0,266,NaN,5,1625000.0,2000,15,33,17798.466594
1,1,272,275,91.3,0,266,NaN,6,1476000.0,2000,15,33,16166.484118
2,1,272,275,91.3,0,266,NaN,7,1800000.0,2000,15,33,19715.224535
3,1,272,275,91.3,0,266,NaN,8,1700000.0,2000,15,33,18619.934283
4,1,272,275,91.3,0,266,NaN,9,1300000.0,2000,15,33,14238.773275

In [50]:
country_specific=exdf.merge(df_country_ids,on='adm0_id',how='left')
country_specific

,adm0_id,adm1_id,cm_id,conversion_rate,cur_id,mkt_id,mp_commoditysource,mp_month,mp_price,mp_year,pt_id,um_id,currency_product,adm0_name
0,1,272,275,91.3,0,266,NaN,5,1625000.0,2000,15,33,17798.466594,Afghanistan
1,1,272,275,91.3,0,266,NaN,6,1476000.0,2000,15,33,16166.484118,Afghanistan
2,1,272,275,91.3,0,266,NaN,7,1800000.0,2000,15,33,19715.224535,Afghanistan
3,1,272,275,91.3,0,266,NaN,8,1700000.0,2000,15,33,18619.934283,Afghanistan
4,1,272,275,91.3,0,266,NaN,9,1300000.0,2000,15,33,14238.773275,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1,292,275,91.3,0,273,NaN,7,1498750.0,2002,15,33,16415.662651,Afghanistan
155,1,292,275,91.3,0,273,NaN,9,1360333.0,2002,15,33,14899.594743,Afghanistan
156,1,292,275,91.3,0,273,NaN,10,1364584.0,2002,15,33,14946.155531,Afghanistan
157,1,292,275,91.3,0,273,NaN,11,1626083.0,2002,15,33,17810.328587,Afghanistan
158,1,292,275,91.3,0,273,NaN,12,1572083.0,2002,15,33,17218.871851,Afghanistan

# Analysis using Pandas

## Arkouda Configuration

In [39]:
cfg=ak.get_config()

In [40]:
cfg

{'arkoudaVersion': 'v2021.08.20+18.g7a657ad',
 'ZMQVersion': '4.3.2',
 'HDF5Version': '1.12.1',
 'serverHostname': 'MacBook-Pro-7.local',
 'ServerPort': 5555,
 'numLocales': 1,
 'numPUs': 4,
 'maxTaskPar': 4,
 'physicalMemory': 8589934592,
 'distributionType': 'domain(1,int(64),false)',
 'LocaleConfigs': [{'id': 0,
   'name': 'MacBook-Pro-7.local',
   'numPUs': 4,
   'maxTaskPar': 4,
   'physicalMemory': 8589934592}],
 'authenticate': False,
 'logLevel': 'INFO',
 'byteorder': 'little'}

# Trial visualization

In [ ]:
countries_list_top_20 = countries_list[:20]
fig, ax = plt.subplots(nrows=len(countries_list_top_20), figsize=(12,len(countries_list_top_20)*3.5)) #dynamically set the figure size from the number of subplots. I find that 3.5 is a good height per subplot to see the data

In [ ]:
for i in countries_list_top_20:
    ind = countries_list_top_20.index(i) #a trick to get a list of 0 to whatever 
    filt = df_country_with_cases['Country/Region'] == i #filter the dataframe for each item in the list
    
    ax[ind].plot(df_country_with_cases.loc[filt]['Date'],df_country_with_cases.loc[filt]['Number of Cases']) #plotting the filtered dataframe. The brackets make the axis variable dynamic
    ax[ind].set_title(i, size=25) #here I am setting the title of each subplot to be the category
    ax[ind].set_ylabel('Number of Cases', size=15) #setting the ylabel and font size
    ax[ind].xaxis.set_tick_params(labelsize=15) #setting the font size of the x axis
    ax[ind].yaxis.set_tick_params(labelsize=15) #setting the font size of the y axis
    
    #Optionally add data labels or text to the subplots
    cases_yesterday_filter = (df_country_with_cases['Date'] == df_country_with_cases['Date'].max()) & (df_country_with_cases['Country/Region'] == i) #filter to find the latest data point for the respective country
    cases_yesterday = df_country_with_cases.loc[cases_yesterday_filter].iloc[0]['Number of Cases'] #applying the filter to the dataframe
    ax[ind].annotate(str(cases_yesterday), xy=(df_country_with_cases['Date'].max(),cases_yesterday),xycoords = 'data', ha ='left', va='top', fontsize =15) #adding the datapoint to the subplot

In [ ]:
plt.tight_layout()